name: Build Checker CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches-ignore: [ga-ignore-**, gh-pages]
    paths:
      - '**.cpp'
      - '**.hpp'
      - '**.c'
      - '**.h'
      - '**.in'
      - '**.inl'
      - '**.txt'
      - '**.lua'

jobs:
  build_checker:
    name: Build Checker
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        target: [flakkari-server, flakkari-client]
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v5

      - name: Install xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest
          actions-cache-folder: '.xmake-cache'
          actions-cache-key: '${{ runner.os }}-xmake-install'
          package-cache: true
          package-cache-key: '${{ runner.os }}-xmake-nlohmann_json-libcurl-libgit2'
          project-path: '.'

      - name: Configure and Build ${{ matrix.target }}
        run: xmake build ${{ matrix.target }} -y
        timeout-minutes: 5
